In [2]:
import pandas as pd
import json as json

In [3]:
test_data = pd.read_csv('Heart_Attack_detail.csv')
test_data

FileNotFoundError: [Errno 2] No such file or directory: 'Heart_Attack_detail.csv'

In [ ]:
test_data['ObjectId']

0        1
1        2
2        3
3        4
4        5
      ...
247    248
248    249
249    250
250    251
251    252
Name: ObjectId, Length: 252, dtype: int64

In [4]:
import geopandas as gpd

ModuleNotFoundError: No module named 'geopandas'

In [5]:
earthquake = gpd.read_file('Heart_Attack_detail.geojson')
earthquake

NameError: name 'gpd' is not defined

In [6]:
skyscrapper = pd.read_csv('skyscrapers.csv')
skyscrapper

,id,material,name,location_city,location_city_id,location.country,location.country id,location_latitude,location_longitude,purposes.abandoned,...,purposes.telecommunications,statistics.floors above,statistics.height,statistics.number of purposes,statistics.rank,status.current,status.completed.is completed,status.completed.year,status.started.is started,status.started.year
0,12,steel,The Illinois,Chicago,1539,US,163,0.000000,0.000000,True,...,True,528,1609.359985,4,1,vision,True,0,True,0
1,62,composite,Chicago Spire,Chicago,1539,US,163,41.889889,-87.614861,True,...,True,150,609.599976,1,2,never completed,True,0,True,2007
2,68,composite,Miglin-Beitler Skyneedle,Chicago,1539,US,163,41.881618,-87.634354,True,...,True,125,609.489990,1,3,vision,True,0,True,0
3,98,composite,One World Trade Center,New York City,1641,US,163,40.713112,-74.013351,True,...,True,94,541.299988,1,4,completed,True,2014,True,2006
4,14269,concrete,Central Park Tower,New York City,1641,US,163,40.766361,-73.980949,True,...,True,95,541.020020,3,5,under construction,True,2019,True,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2426,18633,concrete,Hallets Point 2,New York City,1641,US,163,0.000000,0.000000,True,...,True,0,0.000000,1,2423,proposed,True,0,True,0
2427,18635,concrete,Hallets Point 3,New York City,1641,US,163,0.000000,0.000000,True,...,True,0,0.000000,1,2423,proposed,True,0,True,0
2428,18636,concrete,Hallets Point 4,New York City,1641,US,163,0.000000,0.000000,True,...,True,0,0.000000,1,2423,proposed,True,0,True,0
2429,18637,concrete,Hallets Point 5,New York City,1641,US,163,0.000000,0.000000,True,...,True,0,0.000000,1,2423,proposed,True,0,True,0
2430,18638,concrete,Hallets Point 6,New York City,1641,US,163,0.000000,0.000000,True,...,True,0,0.000000,1,2423,proposed,True,0,True,0

In [7]:
skyscrapper.describe()

,id,location_city_id,location.country id,location_latitude,location_longitude,statistics.floors above,statistics.height,statistics.number of purposes,statistics.rank,status.completed.year,status.started.year
count,2431.000000,2431.000000,2431.0,2431.000000,2431.000000,2431.000000,2431.000000,2431.000000,2431.000000,2431.000000,2431.000000
mean,11482.640889,1613.459893,163.0,36.971992,-86.321463,35.624434,132.445401,1.116413,1215.843274,1886.658165,1253.808309
std,6694.202957,78.685554,0.0,8.705251,23.685243,17.516225,67.825184,0.350223,701.829259,427.351302,959.308260
min,12.000000,1499.000000,163.0,0.000000,-157.980072,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,4130.500000,1543.000000,163.0,34.051241,-92.464108,26.000000,99.000000,1.000000,608.500000,1964.000000,0.000000
50%,11440.000000,1632.000000,163.0,40.724869,-83.045433,34.000000,124.000000,1.000000,1216.000000,1988.000000,1965.000000
75%,16575.000000,1641.000000,163.0,41.876270,-73.994576,43.000000,156.970001,1.000000,1823.500000,2008.000000,2005.000000
max,24079.000000,2365.000000,163.0,61.215210,0.000000,528.000000,1609.359985,4.000000,2423.000000,2020.000000,2016.000000

In [8]:
skyscrapper.describe(include='all')

,id,material,name,location_city,location_city_id,location.country,location.country id,location_latitude,location_longitude,purposes.abandoned,...,purposes.telecommunications,statistics.floors above,statistics.height,statistics.number of purposes,statistics.rank,status.current,status.completed.is completed,status.completed.year,status.started.is started,status.started.year
count,2431.000000,2431,2431,2430,2431.000000,2431,2431.0,2431.000000,2431.000000,2431,...,2431,2431.000000,2431.000000,2431.000000,2431.000000,2431,2431,2431.000000,2431,2431.000000
unique,NaN,7,2356,160,NaN,1,NaN,NaN,NaN,1,...,1,NaN,NaN,NaN,NaN,9,1,NaN,1,NaN
top,NaN,concrete,Wells Fargo Center,New York City,NaN,US,NaN,NaN,NaN,True,...,True,NaN,NaN,NaN,NaN,completed,True,NaN,True,NaN
freq,NaN,1366,5,640,NaN,2431,NaN,NaN,NaN,2431,...,2431,NaN,NaN,NaN,NaN,2081,2431,NaN,2431,NaN
mean,11482.640889,NaN,NaN,NaN,1613.459893,NaN,163.0,36.971992,-86.321463,NaN,...,NaN,35.624434,132.445401,1.116413,1215.843274,NaN,NaN,1886.658165,NaN,1253.808309
std,6694.202957,NaN,NaN,NaN,78.685554,NaN,0.0,8.705251,23.685243,NaN,...,NaN,17.516225,67.825184,0.350223,701.829259,NaN,NaN,427.351302,NaN,959.308260
min,12.000000,NaN,NaN,NaN,1499.000000,NaN,163.0,0.000000,-157.980072,NaN,...,NaN,0.000000,0.000000,1.000000,1.000000,NaN,NaN,0.000000,NaN,0.000000
25%,4130.500000,NaN,NaN,NaN,1543.000000,NaN,163.0,34.051241,-92.464108,NaN,...,NaN,26.000000,99.000000,1.000000,608.500000,NaN,NaN,1964.000000,NaN,0.000000
50%,11440.000000,NaN,NaN,NaN,1632.000000,NaN,163.0,40.724869,-83.045433,NaN,...,NaN,34.000000,124.000000,1.000000,1216.000000,NaN,NaN,1988.000000,NaN,1965.000000
75%,16575.000000,NaN,NaN,NaN,1641.000000,NaN,163.0,41.876270,-73.994576,NaN,...,NaN,43.000000,156.970001,1.000000,1823.500000,NaN,NaN,2008.000000,NaN,2005.000000
max,24079.000000,NaN,NaN,NaN,2365.000000,NaN,163.0,61.215210,0.000000,NaN,...,NaN,528.000000,1609.359985,4.000000,2423.000000,NaN,NaN,2020.000000,NaN,2016.000000

In [9]:
a = skyscrapper['material'].unique()
print(sorted(a))

['composite', 'concrete', 'concrete/steel', 'masonry', 'precast', 'steel', 'steel/concrete']